doctype
html(lang="es")
	include includes/header.pug
	body
		h1 Incluir PUG
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quae similique porro sed vel nemo laboriosam magni, a cumque natus perspiciatis, odio blanditiis! Officiis vero nemo eos fugiat incidunt. Dolores.

		include includes/footer.pug